* {
  margin: 0px;
}
.navbar {
  display: flex;
  background-color: #34495e;
  height: 50px;
}

.navbar h1 {
  margin-left: 20px;
  margin-top: 10px;
  color: #ecf0f1;
  font-size: 1.2em; /* Adjusted font size for responsiveness */
}
.login-main {
  display: flex;
}

.left {
  background-color: #34495e;
}

.left p {
  font-weight: bold;
  font-size: 80px;
  margin-left: 100px;
  margin-top: 170px;
  margin-right: 100px;
  margin-bottom: 219px;
  color: #ffffff;
}

.right h1 {
  font-size: 40px;
  font-weight: lighter;
  margin-top: 180px;
  margin-left: 100px;
  color: #34495e;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 30px;
}

input {
  height: 30px;
  margin-bottom: 10px;
}

button {
  height: 40px;
  margin-top: 10px;
  border-style: solid;
  color: #ffffff;
  background-color: #34495e;
  border-width: 1px;
  border-radius: 5px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Media Queries for Tablet */
@media screen and (max-width: 768px) {
  .login-main {
    flex-direction: column;
  }

  .left p {
    font-size: 60px;
    margin: 50px 20px;
  }

  .right h1 {
    font-size: 30px;
    margin: 20px;
  }

  .input-box,
  input,
  button {
    width: 300px;
    margin-left: 40px;
    margin-right: 20px;
  }
}

/* Media Queries for Mobile */
@media screen and (max-width: 480px) {
  .left p {
    font-size: 40px;
    margin: 20px;
    text-align: center;
    height: 230px;
  }

  .right h1 {
    font-size: 20px;
    margin: 10px;
    text-align: center;
  }
}
